.card-categories {
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 382px;
}

.opacity:hover {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    cursor: pointer;
}

.opacity {
    opacity: 1;
}
